<!DOCTYPE html>
<html ng-app='Claimtown'>
<head>
	<title>Popup</title>
</head>

<body>
<div ng-controller='ClaimsController'>
	<h1 class="header">You Claimed:</h1>
	<p class="currentClaim">
		{{arrayClaims[arrayClaims.length-1].body}}
		<br>
		<br>
		<h3 class="currentClaim">Select a category for your claim</h3>
		<form ng-controller='ClaimsController' ng-submit='addCat(claimData)'>
			<input type="radio" ng-model='claimData.category' value='restaurant/bar'> Restaurant/Bar<br>
			<input type="radio" ng-model='claimData.category' value='non-food-business'> Business<br>
		<textarea type="text" ng-model='claimData.location' placeholder='City, State'></textarea>
		<fieldset class="form-group">
        	<input type="submit" class="btn" value="Finalize Your Claim!"/>
    	</fieldset>

		</form>
	</p>
	<br>
	

</div>
</body>
</html>
